$red: #903;
$black: #444;
$white: #fff;
$blue: #002EB8;
$main-font: Helvetica, Arial, sans-serif;

body {
  font-family: $main-font;
}

h1 {
	color: $red;
	font: 32px/1 $main-font;
	text-align:left;
	font-weight:bold;
}


#original{
	width:100%;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: $background;
    color: $color;
    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
}

p {
  font: 15px/1.6 $main-font;
  text-align:justify;
}

label {
  display: block;
}

nav a.current {
  background: lighten($black, 50%);
}

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten($red, 60%);
  color: $red;
  border: 1px solid $red;
}

#wrapper{
	width:1200px;
	margin: 0 auto;
}

#logo{
	height:200px;
	margin-bottom:5px;
	img{
		height:100%;
	}
	
}


.loadfile {
  background-color: $black;
  border-radius: 10px;
  line-height: 80px;
  
  width: 700px;
  height: 20px;
  padding:10px 10px 15px 10px;
  margin: 0 auto;
  button, input {
    color: $black;
    float: left;
    list-style: none;

    display: inline;
    text-align: center;
    font-weight: bolder;
  }
   
  button:hover, input:hover {
    cursor:pointer;
  }
}

#PARSE{
	margin-top: 10px;
	border-radius: 10px;
	padding: 10px;
	border: none;
	font-weight: bold;
	background-color: $black;
	color: $white;
}

#PARSE:hover{
	cursor:pointer;
	background-color: lighten($black, 50%);
	color: $white;
}

.error {
  color: $white;
  background-color: $red;
}

.centered {
  text-align: center;
}
.justified {
  text-align: justify;
}

#OUTPUT {
	padding:35px;
	text-align:left;
	color:$white;
    border-radius: 10px;
	background-color: #000;
}